[submodule "fcrepo"]
	path = fcrepo
	url = git@github.com:lyrasis/fcrepo.git
[submodule "islandora"]
	path = islandora
	url = git@github.com:lyrasis/islandora.git
[submodule "drupal"]
	path = drupal
	url = ssh://islandora.lyrasistechnology.org/var/gitrepo/drupal.git
[submodule "islandora_drupal_filter"]
	path = islandora_drupal_filter
	url = git@github.com:lyrasis/islandora_drupal_filter.git
[submodule "islandora_solution_pack_collection"]
	path = islandora_solution_pack_collection
	url = git@github.com:lyrasis/islandora_solution_pack_collection.git
[submodule "islandora_solr_search"]
	path = islandora_solr_search
	url = git@github.com:lyrasis/islandora_solr_search.git
[submodule "islandora_solr_views"]
	path = islandora_solr_views
	url = git@github.com:lyrasis/islandora_solr_views.git
[submodule "islandora_solution_pack_image"]
	path = islandora_solution_pack_image
	url = git@github.com:lyrasis/islandora_solution_pack_image.git
[submodule "islandora_solution_pack_pdf"]
	path = islandora_solution_pack_pdf
	url = git@github.com:lyrasis/islandora_solution_pack_pdf.git
[submodule "objective_forms"]
	path = objective_forms
	url = git@github.com:lyrasis/objective_forms.git
[submodule "islandora_xml_forms"]
	path = islandora_xml_forms
	url = git@github.com:lyrasis/islandora_xml_forms.git
[submodule "php_lib"]
	path = php_lib
	url = git@github.com:lyrasis/php_lib.git
[submodule "tuque"]
	path = tuque
	url = git@github.com:lyrasis/tuque.git
[submodule "gsearch"]
	path = gsearch
	url = git@github.com:lyrasis/gsearch.git
[submodule "islandora_marcxml"]
	path = islandora_marcxml
	url = git@github.com:lyrasis/islandora_marcxml.git
[submodule "islandora_importer"]
	path = islandora_importer
	url = git@github.com:lyrasis/islandora_importer.git
[submodule "islandora_theme_flvc"]
	path = islandora_theme_flvc
	url = git@github.com:lyrasis/islandora_theme_flvc.git
[submodule "islandora_solution_pack_large_image"]
	path = islandora_solution_pack_large_image
	url = git@github.com:lyrasis/islandora_solution_pack_large_image.git
[submodule "islandora_openseadragon"]
	path = islandora_openseadragon
	url = git@github.com:lyrasis/islandora_openseadragon.git
[submodule "islandora_solution_pack_book"]
	path = islandora_solution_pack_book
	url = git@github.com:lyrasis/islandora_solution_pack_book.git
[submodule "islandora_paged_content"]
	path = islandora_paged_content
	url = git@github.com:lyrasis/islandora_paged_content.git
[submodule "islandora_internet_archive_bookreader"]
	path = islandora_internet_archive_bookreader
	url = git@github.com:lyrasis/islandora_internet_archive_bookreader.git
[submodule "islandora_ocr"]
	path = islandora_ocr
	url = git@github.com:lyrasis/islandora_ocr.git
[submodule "islandora_solution_pack_newspaper"]
	path = islandora_solution_pack_newspaper
	url = https://github.com/Islandora/islandora_solution_pack_newspaper.git
[submodule "islandora_simple_workflow"]
	path = islandora_simple_workflow
	url = https://github.com/lyrasis/islandora_simple_workflow
[submodule "islandora_fits"]
	path = islandora_fits
	url = git@github.com:lyrasis/islandora_fits.git
